[Unit]
Description=Remapper
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/bthidhub/remapper.py
ExecStartPost=/usr/bin/bash -c 'echo none > /sys/class/leds/ACT/trigger'
ExecStopPost=/usr/bin/bash -c 'echo heartbeat > /sys/class/leds/ACT/trigger'
WorkingDirectory=/home/pi/bthidhub
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
