[Unit]
Description=Remapper
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/bthidhub/remapper.py
WorkingDirectory=/home/pi/bthidhub
Restart=on-abort
 
[Install]
WantedBy=multi-user.target