.navbar-item{
    font-size: 1.2em
}

.tabs .tab a{
    color:#fff;
    line-height: 22px;
    display: inline-block;
    vertical-align: middle;
    height: auto;
} /*Black color to the text*/

.tabs .tab a:hover {
    color:#fff;
} /*Text color on hover*/

.tabs .tab a.active {
    color:#fff;
} /*Background and text color when a tab is active*/

.tabs .indicator {
    background-color:#00796b;
} /*Color of underline*/

@media (max-width: 500px) {
    .navbar-item{
        font-size: 1em
    }
    .my-brand-logo{
        font-size: 1.6rem;
    }
}

.capture-check{
    padding-left: 16pt;
}

.select-wrapper input.select-dropdown{
    border-bottom: 0px;
}
.select-wrapper input.select-dropdown:focus{
    border-bottom: 0px;
}

ul li {
    word-break: normal;
    white-space: normal;
}